.svg_class{
    /* width: 100px;
    height: 29px;
    margin: 20px;
    display:inline-block;
    margin-top: -7px;
    margin-left: -30px;
    margin-right: -40px; */
    width: 114px;
    height: 35px;
    margin: 20px;
    display: inline-block;
    margin-top: -9px;
    margin-left: -30px;
    margin-right: -40px;
    padding-top: -20px;
    margin-bottom: -3px;
  }
  

.login_bt {
    display: flex;
    height: 32px;
}


.success_color{
  background-color: #c4d1c0;
  color:#45484d
}


.error_color{
  background-color: #df7282;
  color:#45484d
}

.validationErrorMessagesStyles {
  margin-top: -43px;
  margin-bottom: 5px;
}

.input_class{
  margin-bottom: 4rem !important;
}